* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-prim: #12181b;
  --text-clr: #fff;
  --second-clr: #383838;
  --box-shadow: 4px 0 10px -3px hsl(0deg, 0%, 0%);
}

.white {
  --clr-prim: #f0f0f0;
  --text-clr: black;
  --second-clr: #fff;
  --box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-prim);
  color: var(--text-clr);
  font-family: 'Poppins';
  font-weight: normal;
  transition: all 0.2s ease-in;
}

nav {
  background-color: var(--second-clr);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ham {
  visibility: hidden;
}

h1 {
  font-size: 1.8rem;
}
.flex {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.flex li {
  padding: 1.5rem 1.3rem;
}

a {
  color: var(--text-clr);
  text-decoration: none;
}

.text-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.card {
  display: flex;
  width: 75vw;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--second-clr);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--text-clr);
}
.card img {
  width: 300px;
  max-height: 200px;
  object-fit: cover;
}
.content {
  margin: 1rem;
}

.content h2 {
  margin: 1rem 0;
}

.content p {
  margin: 1rem 0;
}

.card h2 {
  font-weight: 500;
}

.category {
  position: relative;
}

.category::after {
  content: '';
  position: absolute;
  background-color: var(--text-clr);
  height: 1px;
  width: 60px;
  top: 1.5rem;
  left: 0.1rem;
}

#txt {
  outline: none;
  padding: 0.2rem;
  text-align: center;
  border-radius: 4px;
  border: 0;
  padding: 0.3rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: steelblue;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}

@media (max-width: 650px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex {
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    align-items: flex-start;
  }

  .flex li {
    padding: 1.2rem 1.5rem;
  }

  h1 {
    margin: 1rem;
  }
  .ham {
    top: 1.3rem;
    right: 1rem;
    position: absolute;
    visibility: visible;
    cursor: pointer;
  }
  .flex-show {
    height: 19.5rem;
  }
  .card {
    flex-direction: column;
    width: 84vw;
  }
  .content {
    margin: 0;
  }
  .content h2 {
    font-size: 1.1rem;
  }
  .card img {
    width: 100%;
    max-height: initial;
    object-fit: initial;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .card {
    width: 75vw;
  }
}
